#expenseTable{
    display: none;
}

h1{
    font-size: 4vw;
    text-align: center;
}

h4{
    font-size: 2vw;
    text-align: center;
    color: 1c8d2b;
}

.container{
    text-align: center;
}

#btn-createdTable{
    color : white;
    background-color: 1c8d2b;
    border-radius: 5px 5px 5px 5px;
}

table{
    text-align: center;
}

th{
    font-weight: bold;
	font-size: 1em;
    text-align: left;
    color: #1c8d2b;
    padding-bottom: 10px;
}

td{
    font-weight: normal;
	font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

thead{
    box-shadow: 0 2px 2px -2px #0E1119;
}

body{
    position: fixed;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}